{
	"trailingComma": "all",
	"tabWidth": 4,
	"printWidth": 100,
	"semi": false,
	"singleQuote": false,
	"useTabs": true,
	"arrowParens": "avoid",
	"bracketSpacing": false,
	"endOfLine": "lf",
	"plugins": [],
	"overrides": [
		{
			"files": ["*.yml", "*.yaml"],
			"options": {
				"tabWidth": 2
			}
		},
		{
			"files": ["*.md"],
			"options": {
				"tabWidth": 2,
				"useTabs": false,
				"printWidth": 80
			}
		}
	]
}
